.method-container {
  padding: var(--window-padding);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  column-gap: 20px;
  padding-top: 0px;
}

.info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
}

@media screen and (max-width: 1000px) {
  .method-container {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: none;
    row-gap: 20px;
  }
}
