.info-block-container {
  border-radius: 8px;
  display: grid;
  grid-template-rows: min-content auto;
  grid-template-columns: 1fr;
  padding: 20px;
  padding-bottom: 0px;
}

.info-block-container:hover {
  transition: box-shadow 0.3s ease;

  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.info-block-title-container {
  border-bottom: 2px solid var(--color-blue);
  display: flex;
  justify-content: space-between;
  padding-bottom: 7px;
}
.info-block-content-container {
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}

.info-block-content-container > button {
  border-radius: 50px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-block-content-container::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

.info-block-content-container::-webkit-scrollbar-track {
  background: var(--color-black); /* color of the tracking area */
}

.info-block-content-container::-webkit-scrollbar-thumb {
  background-color: var(--color-blue);
  border: 3px solid var(--color-black);
  border-radius: 20px;
}

#visible1,
#visible2,
#invisible {
  fill: var(--color-blue);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#invisible {
  transform: translateX(-100%);
}

button:hover #invisible {
  transform: translateX(0);
}

button:hover #visible1 {
  transform: translateX(25%);
}

button:hover #visible2 {
  transform: translateX(100%);
}

.info-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.info-btn > p {
  color: var(--color-blue);
}
